<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="application/javascript">
    function gd(a, b, c) {
        return new Date(a, b - 1, c).getTime()
    }
    for (var a = [[gd(2017, 10, 1), 17], [gd(2017, 10, 2), 74], [gd(2017, 10, 3), 6], [gd(2017, 10, 4), 39], [gd(2017, 10, 5), 20], [gd(2017, 10, 6), 85], [gd(2017, 10, 7), 7]], b = [[gd(2017, 10, 1), 82], [gd(2017, 10, 2), 23], [gd(2017, 10, 3), 66], [gd(2017, 10, 4), 9], [gd(2017, 10, 5), 119], [gd(2017, 10, 6), 6], [gd(2017, 10, 7), 9]], d = [], e = [[0, 1], [1, 9], [2, 6], [3, 10], [4, 5], [5, 17], [6, 6], [7, 10], [8, 7], [9, 11], [10, 35], [11, 9], [12, 12], [13, 5], [14, 3], [15, 4], [16, 9]], f = 0; f <= 30; f++)d.push([new Date(Date.today().add(f).days()).getTime(), randNum() + f + f + 10]);
    alert(d);

</script>
</body>
</html>